<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Zaibot.MSBuildTasks" version="0.2.5-beta2-rev001-8d287f5" targetFramework="net45" />
  <package id="Zaibot.MSBuildTasks.GitVersion" version="0.2.5-beta2-rev001-8d287f5" targetFramework="net45" />
  <package id="Zaibot.MSBuildTasks.NuGet" version="0.2.5-beta2-rev001-8d287f5" targetFramework="net45" />
</packages>